# Виртуальное окружение
.venv/
venv/

# Служебные каталоги Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Файлы настройки IDE
.idea/
.vscode/

# Файлы сессий Telethon (чувствительные!)
*.session

# Переменные окружения
.env

# Логи и временные файлы
*.log
*.tmp
*.swp

# Бинарные и кэш-файлы
*.db
*.sqlite3

# Файлы и каталоги, создаваемые macOS
.DS_Store

# Резервные файлы редакторов
*~
*.bak